.footer {
  text-align: center;
}

.footer .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.footer hr {
  border: none;
  border-top: 1px solid #666666;
  margin: 20px 0;
}

.footer .nav {
  margin-bottom: 60px;
}

.footer .nav .list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .nav .list .item {
  margin-right: 60px;
}

.footer .nav .list .item:last-child {
  margin-right: 0;
}
.footer .nav .list .item .link {
  font-size: 20px;
  font-weight: 500;
  font-family: DM_Sans, sans-serif, Arial;
}
